body{
    margin: 0px;

}
header{
    min-height: 250px;
    width: 100%;
    background-color: red;
    display: block;
    
}
nav{
    height: 0px;
    width: 100%;
    background-color: green;
    margin: 0px auto;
    display: flex;
    padding-left: 150px ;
    padding-top: 50px;
}
a{
    margin: 0px 30px;
    padding: 0px;
    text-decoration: none;
    font-size: 1.3rem;
}
.navigation{
    height: 100px;
    width: 100%;
    background-color: blueviolet;
    margin: 0px auto;
}